*{
	margin: 0;
	padding: 0;
}
.hide{
	display: none;
}
input:focus{
	outline: none;
}

body{
	font-family: Roboto;
	background-color: white;
	letter-spacing: .5px;
	color: #3E454C;
}



article.countdown{
	position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    background-image: url(../images/login_background.png);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}
article.countdown div.center{
    margin: 0 auto;
    width: 100%;
}
article.countdown header.intro{
    width: 100%;
    float: left;
    box-sizing:border-box;
    margin-top: 80px;
}
article.countdown header.intro div{
    width: 100%;
}
article.countdown header.intro div.intro{
    float: left;
    width: 100%;
    box-sizing:border-box;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 60px;
}
article.countdown header.intro div.intro img{
    height: 100px;
}
article.countdown header.intro h1{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 300;
    color: rgba(0,0,0,.6);
    font-size: 1.7em;
    padding: 0 5%;
    box-sizing:border-box;
}

article.countdown header.intro nav{
    display: inline-block;
    text-align: center;
    width: 100%;
}
article.countdown header.intro ul{
    display: inline-block;
    text-align: center;
}
article.countdown header.intro ul li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #F47D67;
    box-sizing:border-box;
    border-radius: 50%;
    margin: 0 5px;
}
article.countdown header.intro ul li.selected{
    background-color: #F47D67;
}

article.countdown section.timer {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

article.countdown section.timer ul {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

article.countdown section.timer ul li{
    display: inline-block;
    opacity: 0;
    background-color: #F8F8F8;
    width: 80px;
    height: 80px;
    text-align: center;
    position: relative;
    font-family: Dosis;
    margin: 20px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .4em;
}
article.countdown section.timer ul li p{
  letter-spacing: 2px;
  line-height: 80px;
    font-size: 1.5em;
  color: #3E454C;
}
article.countdown section.timer ul li span{
  font-size: 1.3em;
  line-height: 40px;
  color: rgba(0,0,0,.3);
}

article.countdown footer {
    width: 100%;
    float: left;
    padding: 100px 0;
    box-sizing: border-box;
    text-align: center;
}

article.countdown footer div.container {
    display: inline-block;
}

article.countdown footer div.container p {
    display: block;
    float: left;
    padding: 0 40px;
    font-size: .9em;
    line-height: 41px;
    box-sizing: border-box;
}

article.countdown footer div.container form {
    display: block;
    float: left;
}

article.countdown footer div.container form input[type='email']{
    display: block;
    float: left;
    width: 270px;
    height: 41px;
    border: none;
    padding-left: 12px;
    font-size: .9em;
    border-radius: .5em;
    -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.2);
    box-shadow:inset 0 0 0 1px rgba(0,0,0,.2);
    box-sizing: border-box;
}

article.countdown footer div.container form input[type='submit']{
    display: block;
    float: left;
    color: #ffffff;
    height: 41px;
    padding: 12px;
    margin-left: 15px;
    background-color: #F47D67;
    border: none;
    font-size: .9em;
    border-radius: .5em;
    cursor: pointer;
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

article.countdown footer div.container a.contact {
    display: block;
    width: 75px;
    text-decoration: none;
    color: #ffffff;
    font-size: .9em;
    padding: 12px 17px;
    border-radius: .5em;
    background-color: #F47D67;
    float: left;
    position: relative;
    
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

article.countdown footer div.container a.contact:hover {
    padding-left: 34px;
}

article.countdown footer div.container a.contact:hover > span {
    left: 12px;
    opacity: 1;
}

article.countdown footer div.container a.contact span {
    display: block;
    opacity: 0;
    position: absolute;
    left: 20px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

/* MOBILE CSS */


@media screen and (max-width: 800px) {
    
    article.countdown footer {
        padding: 50px 10%;
        padding-bottom: 100px;
    }
    
    article.countdown footer div.container a.contact {
        margin: 0 auto;
        float: none;
    }
    
    article.countdown footer div.container p {
        width: 100%;
        padding: 20px 0;
    }
    
    article.countdown footer div.container form {
        width: 100%;
        text-align: center;
    }
    
    article.countdown footer div.container form input[type='email']{
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }
    
    article.countdown footer div.container form input[type='submit']{
        margin: 0 auto;
        float: none;
    }
    
    article.countdown header.intro div.intro img{
        height: 80px;
    }
    article.countdown{
        background-size: contain;
    }
    
    article.countdown section.timer .progress svg {
      width: 80px;
      height: 80px;
    }
    
    article.countdown section.timer .progress>li {
        font-size: .8em;
    }
    
    article.countdown header.intro h1 {
        font-size: 1.4em;
    }
    
    article.countdown header.intro {
        margin-top: 40px;
    }
    
    article.countdown section.timer {
        margin-bottom: 60px;
    }
    
    article.countdown section.timer .progress {
        width: 300px;
    }
    
}