
/*COMMUNITIES*/
article div.communities{
    position: fixed;
    width: 100%;
    left: 0;
    height: 100%;
    overflow-y: scroll;
}
article div.communities div.center{
    margin: 0 auto;
    width: 1024px;
}
article div.communities header.intro{
    width: 100%;
    float: left;
    box-sizing:border-box;
    padding: 5%;
}
article div.communities header.intro div{
    width: 900px;
    position: relative;
}
article div.communities header.intro div.intro{
    float: left;
    width: 100%;
    box-sizing:border-box;
    padding: 5%;
    text-align: center;
    margin-bottom: 70px;
}
article div.communities header.intro div.intro img{
    height: 70px;
}
article div.communities header.intro h1{
    display: inline-block;
    width: 70%;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1em;
}
article div.communities header.intro p{
    width: 70%;
    float: left;
    font-size: .9em;
    color: #5F6970;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 25px;
    
}
article div.communities header.intro nav{
    position: absolute;
    right: 0;
    bottom: 0;
}

article div.communities header.intro nav a.create{
    display: block;
    float: right;
    height: 50px;
    width: 180px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #F47D67;
    border-radius: .5em;
    font-size: .8em;
    font-weight: 300;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}

article div.communities header.intro nav a.create:hover{
    width: 200px;

}
article div.communities header.intro nav a.create span{
    margin-left: -10px;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
article div.communities header.intro nav a.create:hover span{
    margin-left: 10px;
    opacity: 1;
}
article div.communities section.communities{
    width: 100%;
    float: left;
    box-sizing:border-box;
    background-color: white;
    padding-bottom: 200px;
}
article div.communities section.communities header nav form{
    width: 100%;
    float: left;
    margin-top: 40px;
}
article div.communities section.communities header nav form input[type="text"]{
    width: 100%;
    float: left;
    box-sizing:border-box;
    padding: 2.5%;
    border: 1px solid #E8E8EA;
    border-bottom: none;
}
article div.communities section.communities header{
    float: left;
    width: 100%;
}
article div.communities section.community {
    float: left;
    width: 100%;
    box-sizing:border-box;
    padding: 0;
    border: 1px solid #E8E8EA;
    border-bottom: none;
    cursor: pointer;
}
article div.communities section.community:last-child{
    border-bottom: 1px solid #E8E8EA;
}
article div.communities section.community header {
    display: block;
    float: left;
    width: 30%;
    box-sizing: border-box;
    padding: 5% 3.5%;
    height: 51px;
}
article div.communities section.community header img{
    float: left;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 40px 1px rgba(0,0,0,.1);
box-shadow: 0 0 40px 1px rgba(0,0,0,.1);
}
article div.communities section.community header h1{
    float: left;
    font-size: 1em;
    display: inline-block;
    width: 60%;
}
article div.communities section.community header h2{
    float: left;
    width: 60%;
    font-size: .9em;
    font-weight: normal;
    color: rgba(0,0,0,.3);
    display: inline-block;
}
article div.communities section.community aside{
    float: right;
    overflow: hidden;
    width: 70%;
}
article div.communities section.community aside nav{
    float: right;
    position: relative;
    width: 20%;
    padding: 51px 5%;
    overflow: hidden;
    text-align: right;


    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
article div.communities section.community aside nav a.member{
    display: inline-block;
    font-size: .7em;
    padding: 0 5%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #F47D67;
    border-radius: .5em;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
article div.communities section.community aside nav a.member span{
    margin-left: -10px;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
article div.communities section.community aside nav a.member:hover span{
    margin-left: 10px;
    opacity: 1;
}
article div.communities section.community .progress {
    float: left;
    position: relative;
    display: inline-block;
    text-align: center;
}
article div.communities section.community .progress>li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #93A2AC;
  font-weight: 100;
  margin: 30px;
  font-size: .6em;
  text-transform: uppercase;
}

article div.communities section.community .progress>li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: 45%;
  text-align: center;
  font-weight: 400;
}

article div.communities section.community .progress svg {
  width: 80px;
  height: 80px;
}

article div.communities section.community .progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

article div.communities section.community .progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  stroke: rgba(255, 255, 255, 0.9);
  -webkit-animation: load 2s;
  -moz-animation: load 2s;
  -o-animation: load 2s;
  animation: load 2s;
}








/*DETAIL*/
article div.feed section.quest footer div.proposals-list ul li.propo.mypropo ul li.options ul li{
    width: 100%;
}
article div.feed section.quest footer div.proposals-list ul li.propo.mypropo ul li.options{
    display: block;
    float: right;
    width: 90px;
    padding: 18px 0px;
}

article div.feed section.quest footer div.proposals-list ul li ul li.options{
    display: block;
    float: left;
    width: 150px;
    padding: 25px 0px;
}
article div.feed section.quest footer div.proposals-list ul li ul li.options ul li{
    float: left;
    display: block;
    width: 50%;
}
article div.feed section.quest footer div.proposals-list ul li ul li.options a{
    
    float: left;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-size: 1.4em;
    text-decoration: none;
    color: #F47D67;

}

article div.feed section.quest footer div.trophy{
    float: left;
    width: 100%;
    padding: 5% 5% 10% 5%;
    box-sizing:border-box;
    text-align: center;
}
article div.feed section.quest footer div.trophy img{

    display: inline-block;
    height: 100px;
    margin-bottom: 20px;
}
article div.feed section.quest footer div.trophy header{

    display: inline-block;
    width: 100%;
    padding: 0;
    text-align: center;
}
article div.feed section.quest footer div.trophy header h1{

    display: inline-block;
    width: 100%;
    font-size: 1.2em;
    max-width: 100%;
    color: #3E454C;
    font-weight: bold;
}















/*NEW CONVERSATION*/
article.newconvo{
    z-index: 9999;
    position: fixed;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    margin: 0;
    overflow-y: scroll;
    background-color: rgba(0,0,0,.5);
}

article.newconvo section{

    position: fixed;
    left: 50%;
    margin-left: -275px;
    width: 550px;
    height: 320px;
    top: 40%;
    margin-top: -150px;
    box-sizing:border-box;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: .5em;
    -webkit-box-shadow: 0 0 30px -5px rgba(0,0,0,.3);
    box-shadow: 0 0 30px -5px rgba(0,0,0,.3)
}
article.newconvo section div{
    position: relative;
}
article.newconvo section div.search_users{
    overflow:hidden; 
    height: 65px;
    border-bottom: 1px solid #E8E8EA;
}
article.newconvo section div.search_users ul{

    display: block;
    height: 65px;
    float: left;
}
article.newconvo section div.search_users ul li{

    display: inline-block;
    width: 65px;
    box-sizing:border-box;
    padding: 12.5px 0;
    text-align: center;
    line-height: 65px;
}
article.newconvo section div.search_users ul li img{

    display: inline-block;
    height: 40px;

    border-radius: 50%;

}
article.newconvo section div.search_users ul li:first-child{

    margin-left: 5%;
}

article.newconvo section form input[type="text"]{
    display: inline-block;
    width: 100%;
    padding: 0 5%;
    height: 65px;
    line-height: 65px;
    border: none;
    box-sizing:border-box;
    border-bottom: 1px solid #E8E8EA;
    background-image: url(../images/assets/search_btn.svg);
    background-size: 15px;
    background-position: right 5% center;
    background-repeat: no-repeat;
}
article.newconvo section form input[type="text"].hide{
    display: none;
}
article.newconvo section form input[type="submit"]{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 75px;
    height: 75px;
    background: none;
    border: none;
    text-indent: -99em;
    background-image: url(../images/assets/send_btn.svg);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
}
article.newconvo section form textarea{
    display: inline-block;
    width: 100%;
    padding: 5%;
    border: none;
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
    border-bottom:1px solid #E8E8EA;
    border: none;
}









/*SEARCH CSS*/
article.search_full{
    position: fixed;
    width: 100%;
    height: 90%;
    left: 0;
    top: 0;
    overflow-y: scroll;
}
article.search_full div.search{
    width: 100%;
    padding: 10px;
    box-sizing:border-box;
    float: left;
}
article.search_full div.search ul.search_results{
    display: block;
    width: 100%;
    float: left;
    text-align: center;
}
article.search_full div.search ul.search_results li.part{
    display: block;
    float: left;
    width: 33%;
    box-sizing:border-box;
    padding: 0.5%;
    text-align: left;
}
article.search_full div.search ul.search_results li.part header{
    float: left;
    margin-bottom: 20px;
}
article.search_full div.search ul.search_results li.part header h1{
    font-size: 1.2em;
    font-weight: normal;
}
article.search_full div.search ul.search_results li.part ul{
    display: inline-block;
    width: 100%;
}
article.search_full div.search ul.search_results li.quest{

    float: left;
    display: block;
    width: 100%;
    margin: 1% 0;
}
article.search_full div.search ul.search_results li.quest:last-child{

    display: inline-block;
    width: 100%;
    margin: 1% 0;
    background:none;
    padding: 5%;
    text-align: center;
    box-sizing:border-box;
    color: rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.1); 

}
article.search_full div.search ul.search_results li.quest a.quest{

    float: left;
    display: block;
    width: 95%;
    background-color: #ffffff;
    border: 1px solid #E8E8EA; 
    color: #3E454C;
    padding: 2.5%;
    text-align: left;
    display: block;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
article.search_full div.search ul.search_results li.quest a.quest:hover{
    border: 1px solid rgba(242,125,107,.4); 
}
article.search_full div.search ul.search_results li.quest header{

    float: left;
    width: 90%;
    height: 40px;
    padding: 5% 5% 0 5%;
    line-height: 40px;
}
article.search_full div.search ul.search_results li.quest header h1{

    float: left;
    display: inline-block;
    font-size: .8em;
    font-weight: normal;
    width: 80%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
article.search_full div.search ul.search_results li.quest header h1 a{

    text-decoration: none;
    font-weight: bolder;
    color: #3E454C;
    margin-right: 5px;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
article.search_full div.search ul.search_results li.quest header h1 a:hover{
    color: #F47D67; 
}
article.search_full div.search ul.search_results li.quest header h1 span{

    font-weight: bolder;
    color: #3E454C;
}

article.search_full div.search ul.search_results li.quest header img{

    float: left;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%; 
}
article.search_full div.search ul.search_results li.quest aside{

    float: left;
    width: 90%;
    padding: 5%;
    color: #5F6970;
    font-weight: normal;
    line-height: 1.6em;
    font-size: .7em;
}
article.search_full div.search ul.search_results li.quest aside p{

    float: left;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
article.search_full div.search ul.search_results li.user{

    display: inline-block;
    width: 100%;
    margin: 1% 0;
    background-color: #ffffff;
    border: 1px solid #E8E8EA; 

}
article.search_full div.search ul.search_results li.user:last-child{

    display: inline-block;
    width: 100%;
    margin: 1% 0;
    background:none;
    padding: 5%;
    text-align: center;
    box-sizing:border-box;
    color: rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.1); 

}
article.search_full div.search ul.search_results li.user header{

    float: left;
    width: 40%;
    height: 50px;
    padding: 2.5% 0;
}
article.search_full div.search ul.search_results li.user aside{
    float: right;
    width: 60%;
    height: 50px;
    padding: 2.5% 0;
    text-align: right;
}
article.search_full div.search ul.search_results li.user aside ul li{

    display: inline-block;
    width: 30%;
    text-align: center;
}
article.search_full div.search ul.search_results li.user aside ul li span{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    font-size: .7em;
    color: rgba(0,0,0,.3);
}

article.search_full div.search ul.search_results li.user aside ul li p{
    display: inline-block;
    width: 100%;
    font-size: .9em
    
}
article.search_full div.search ul.search_results li.user header h1{
    float: left;
    font-size: .7em;
    font-weight: 600;
    width: 40%;
    margin: 5% 0 2.5% 0;
    margin-left: 20px;
}
article.search_full div.search ul.search_results li.user header h2{

    float: left;
    font-size: .7em;
    font-weight: normal;
    width: 40%;
    margin-left: 20px;
    color: rgba(0,0,0,.3);
    
}
article.search_full div.search ul.search_results li.user a{
    float: left;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #3E454C;
    padding: 5%;
    box-sizing:border-box;
}
article.search_full div.search ul.search_results li.user header img{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
article.search_full div.search ul.search_results li.item{
    display: block;
    float: left;
    width: 49%;
    height: 180px;
    border: 1px solid #E8E8EA;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    margin: 1% 2%;
}
article.search_full div.search ul.search_results li.item:last-child{

    display: block;
    float: left;
    width: 49%;
    background:none;
    margin: 1% 2%;
    line-height: 180px;
    text-align: center;
    color: rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.1); 

}
article.search_full div.search ul.search_results li.item img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 45px auto 10px auto;
    border-radius: 50%;
}
article.search_full div.search ul.search_results li.item h1.profile-collection-item-name {
    display: block;
    width: 100%;
    font-size: .85em;
    float: left;
}
article.search_full div.search ul.search_results li.item h1.profile-collection-item-name span{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 5px;
}
article.search_full div.search ul.search_results li.item h1.profile-collection-item-name span.not-available {
    background-color: #F47D67;
}
article.search_full div.search ul.search_results li.item h1.profile-collection-item-name span.available {
    background-color: #4EB982;
}



