/* REGISTRATION */

article.register {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-image: url(../images/assets/login_background.svg);
    background-size: cover;
    background-repeat: repeat-y;
}

article.register div.register-box {
    position: absolute;
    width: 800px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -250px;
    background-color: #ffffff;
    border: 1px solid #E8E8EA;
    border-radius: .3em;
    overflow: hidden;
}

article.register div.register-box div.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 400%;
    height: 100%;
}

article.register div.register-box div.container section {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 800px;
    height: 100%;
}

article.register div.register-box div.container section aside.left {
    float: left;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
}

article.register div.register-box div.container section aside.right {
    float: left;
    width: 45%;
    height: 100%;
    box-sizing: border-box;
}

article.register div.register-box nav.pages {
    position: absolute;
    width: 100%;
    padding: 15px 0;
    bottom: 0;
}

article.register div.register-box nav.pages ul {
    list-style: none;
    display: block;
    margin: 0 auto;
    text-align: center;
}

article.register div.register-box nav.pages ul li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #F47D67;
    margin: 0 10px;
    cursor: pointer;
}

article.register div.register-box nav.pages ul li.current {
    background-color: #F47D67;
}